%form(action="/" method="POST")
  %div(id="form_inputs")
    %input(type="text" name="url" id="url" class="rounded")
    %br
    %input(id="submit" type="submit" value="#{t('shorten_button')}")
    
:javascript
  document.getElementById('url').focus();