/* ###################################### */
/* Setup a few vars.                 */
/* ###################################### */
@theme-color: #666;
@highlight-color: #EEE;
@notice-color: #333;
@error-color: red;
@button-background: #222;
@button-background-hover: #333;
@link-color: orange;

body {
  background-color: black;
  color: white;

  div#content {
    margin: auto;
    width: 400px;
    text-align:center;
    
    a {
      :link {
        text-decoration: none;
        color: @link-color;
      }
      
      :visited {
        color: @link-color;
      }
      
      :hover { 
        color: @highlight-color;
      }
      
      :active {
        color: @highlight-color;
      }
    }
    
    #footer {
      color: @theme-color;
      padding-top: 12px;
      clear: both;
    }

    div#error {
      background-color: @error-color;
      padding: 5px;
    }

    div#notice {
      background-color: @notice-color;
      padding: 5px;
    }
    
    div.flash {
      margin-bottom: 8px;
    }

    .rounded {
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      -khtml-border-radius: 5px;
      border-radius: 5px;
    }
    
    input#url {
      float:left;
      margin: 10px 0 0;
      width: 290px;
      display: block;
      padding: 5px;
      color: @theme-color;
      font-size: 24px;
      border: 1px solid @highlight-color;
    }
    
    input#submit {
      font-weight: bold;
      float: right;
      padding: 3px 10px;
      margin: 10px 0 0;
      display: block;
      height: 26px;
      border: 1px solid @theme-color;
      background-color: @button-background;
      color: white;
    }
    
    input#submit:hover {
      background-color: @button-background-hover;
    }
    
    #shortened_url {
      margin: 10px 0 0;
      width: 100%;
      display: block;
      color: @theme-color;
      font-size: 24px;
    }
  }
}