%div(id="shortened_url")
  %a(href="/#{@short_url.shorten}")
    %span(class="short_url")= @viewed_url
%div(id="copy_to_clipboard")
  %div(id="clip_container" style="position:relative")
    %div(id="clip_button" data-clipboard-text="#{@viewed_url}")= "Copy to Clipboard"
%script(type="text/javascript" src="clipboard.min.js")
:javascript
  document.addEventListener('keydown', urljumper, true);
  
  function urljumper(e) {
    if (keyPressed(e)) {
      window.location = "/#{@short_url.shorten}";
    }
  }

  function keyPressed(e) {
    if (e.keyIdentifier == "Enter") {
      return true;
    }
    return false;
  }

  new ClipboardJS('#clip_button');
