:javascript
  document.addEventListener('keydown', urljumper, true);
  
  function urljumper(e) {
    if (enterPressed(e)) {
      window.location = "#{@viewed_url}";
    }
  }
  
  function enterPressed(e) {
    if (e.keyIdentifier == "Enter") {
      return true;
    }
    return false;
  }
%div(id="shortened_url")
  %a(href=@viewed_url)
    %span(class="short_url")= @viewed_url