development:
  adapter: sqlite3
  database: db/development.sqlite3
  pool: 5
  timeout: 5000

test:
  adapter: sqlite3
  database: db/test.sqlite3
  pool: 5
  timeout: 5000
  
production:
  adapter: mysql2
  database: em_shorty
  encoding: utf8
  pool: 5
  username: root
  password: root
  socket: /opt/local/var/run/mysql5/mysqld.sock